BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 999
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: DontAlign
